#root {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
.main-container{
  background-color: #0b2434;
  height: 100%;
  width: 100%;
  padding: 1.85rem 1.125rem;
}
.game-container{  
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 0.65rem;
  border: 1px solid#0b2434;
}
.game-container h1{
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #2b283a;
  letter-spacing: -0.03em;
  margin-top: 2rem;
  text-align: center;
}
.game-description{
  width: 25%;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
  font-weight: 400;
  color: #4a4e74;
  text-align: center;
  margin: 1rem auto;
}
.dice-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.dice{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 2.5rem auto;
  gap: 2rem;
}
.die-face{
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer; 
}
.roll-dice{
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #2b283a;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  background-color: #5035FF;
  color: white;
}
.dice-face-held{
  background-color: #59E391;
}
.sr-only{
  position: absolute;
  width: 1px;
  height: 1px; 
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.dots-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  justify-items: center;
  /* border: 1px solid red; */
  width: 3rem;
  height: 3rem;

}
.dots {
  font-size: 2rem;
  color: #0b2434;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top: -1.5rem;
  margin-left: auto;
}
.one-one{
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.two-one{
  grid-column: 1/2;
  grid-row: 1/2;

}
.two-two{
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: 1rem;
}
.three-one{
  grid-column: 2/3;
  grid-row: 1/2;
}
.three-two{
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 1rem;
}
.three-three{
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: 1rem;
}
.four-one{
  grid-column: 1/2;
  grid-row: 1/2;
}
.four-two{
  grid-column: 3/4;
  grid-row: 1/2;
}
.four-three{
  grid-column: 1/2;
  grid-row: 3/4;
}
.four-four{
  grid-column: 3/4;
  grid-row: 3/4;
}
.five-one{
  grid-column: 1/2;
  grid-row: 1/2;
}
.five-two{
  grid-column: 3/4;
  grid-row: 1/2;
}
.five-three{
  grid-column: 2/3;
  grid-row: 2/3;
}
.five-four{
  grid-column: 1/2;
  grid-row: 3/4;
}
.five-five{
  grid-column: 3/4;
  grid-row: 3/4;
}
.six-one{
  grid-column: 1/2;
  grid-row: 1/2;
}
.six-two{
  grid-column: 2/3;
  grid-row: 1/2;
}
.six-three{
  grid-column: 3/4;
  grid-row: 1/2;
}
.six-four{
  grid-column: 1/2;
  grid-row: 3/4;
}
.six-five{
  grid-column: 2/3;
  grid-row: 3/4;
}
.six-six{
  grid-column: 3/4;
  grid-row: 3/4;
}
.die-value-light{
  color: lightsteelblue;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  position: absolute;
}